body{
    font-family: 'Oswald', sans-serif;
}
section{
    margin: bottom 100px;
}
#upper-banner{
   
    color: white;
    padding-top: 30px ;
    padding-bottom: 60px;
    padding-left: 200px;
    padding-right: 200px;
    text-align: center;
    background-image: url(images/banner1.jpg);
    background-repeat:no-repeat ;
    background-size: cover;
}
.headings{
    font-size: 25px;
}
.button{
    display: block;
    text-align: center;
    margin-left: 46%;
    margin-right: 46%;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    background-color: tomato;
    color: white;
    border-radius: 10px;
}
.middle-texts{
    color:grey;
    padding-top: 30px ;
    padding-bottom: 60px;
    padding-left: 200px;
    padding-right: 200px;
    text-align: center;
}
.donate-ammount{
    display: flex;
    margin-left: 30%;
    margin-right: 30%;
}
.donate-ammount div{
    padding: 20px;
    margin: 10px 25px ;
    background-color: rgba(128, 128, 128, 0.275);
    border-radius: 10px;
}
.tk-box{
    color: rgb(80, 79, 79);
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
}
#selected{
    border: 4px solid tomato;
    background-color: rgba(255, 99, 71, 0.502);
}
.red-button{
    color: tomato
}
label{
    display: flex;
    justify-content: center;
    align-items: center;
}
#input{
    border: 0;
}
hr{
    margin: 0 30%;
}
#donate-button{
    margin: 30px;
}
#donation-plan{
    display: flex;
    padding-left: 30px;
}
.plan-box{
    margin: 5%;
    padding-top: 20px;
    padding-right: 30px;
    padding-left: 30px;
    box-shadow:10px 10px 40px ;
    border-radius: 20px;
}
#blue{
    background-color: rgba(176, 224, 230, 0.541);
}
#red{
    background-color: rgba(255, 99, 71, 0.383);
}
#yellow{
    background-color: rgba(222, 184, 135, 0.425);
}
#get-update{
    margin: 0 30%;
    background-color: bisque;
    padding-top: 100px;
    padding-bottom: 100px;

}
#email{
    background-color: rgba(128, 128, 128, 0.292);
    border: 0;
    border-radius: 5px;
}
#subscribe{
    background-color: tomato;
    border: 0;
    color: aliceblue;
    border-radius: 5px;
}
footer{
    font-family: 'Lobster', cursive;
    background-color: black;
    text-align: center;
    margin: 0;
}
footer h1{
    color: tomato;
}
footer p{
    color: white;
}